{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring {:mvn/version "1.9.4"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        ring/ring-json {:mvn/version "0.5.1"}
        org.immutant/web {:mvn/version "2.1.10"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        mount {:mvn/version "0.1.16"}
        prone {:mvn/version "2021-04-23"}
        compojure {:mvn/version "1.6.2"}
        org.clojure/core.match {:mvn/version "1.0.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :aliases {:repl {}
           :server {:main-opts ["-m" "app.server"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}}}
